/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/ElUAY9q6T0Ayx4zWzW63VJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html,
body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(255, 242, 242);
}

.container h1 {
	font-weight: bold;
	font-size: 2.5rem;
	color: rgb (32, 64, 86);
}

.container h4 {
	font-size: 1rem;
	font-weight: bold;
	color: rgb (32, 64, 86);
}

.container p {
	font-size: 1rem;
	font-family: 'Work Sans', sans-serif;
	color: rgb(74, 74, 74);
}

.container {
  margin-top: 5.25rem;
}

.card {
  display: flex;
  height: 12.5rem;
  padding: 12%;
  background-color: rgb(32, 64, 86);
  border-radius: 8px;
  border: 4px solid #ffffff;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  cursor: ;
}

.card:hover {
	cursor: pointer;
}
